.slide-up {
  animation: slideUp 0.2s ease-out;
  opacity: 1 !important;
  pointer-events: all;
}

.slide-down {
  animation: slideDown 0.2s ease-in;
  opacity: 0 !important;
  pointer-events: none;
}

.fade-in {
  animation: fadeIn 0.2s ease-in;
  opacity: 1 !important;
}

.fade-out {
  animation: fadeOut 0.2s ease-in;
  opacity: 0 !important;
}

.effect-halo-runnig {
  animation: halo 1.6s infinite linear;
}

.effect-halo-blink {
  animation: blinking 1.6s infinite linear;
}

.effect-halo-runnig:nth-of-type(2) {
  opacity: 0;
  animation-delay: 0.8s;
}

.animation-dom {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.press-button {
  opacity: 0.35 !important;
  pointer-events: none !important;
}

.rotate-button {
  transform: rotate(-60deg);
}

@keyframes slideUp {
  from {
    margin-top: 25%;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: 25%;
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes blinking {
  0% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.15;
  }
  100% {
    opacity: 0.75;
  }
}

@keyframes halo {
  from {
    opacity: 1;
    transform: scale(0.9);
  }
  to {
    opacity: 0;
    transform: scale(1.4);
  }
}
